<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>Video Cinematic Mode</name>
	<key>video_cinematic</key>
	<description>Let just the video, no fuss! Video Cinematic Mode allow your oxwall video player has ability to dimm the light around and center the video.</description>
    <author>Thao Le</author>
    <authorEmail>thaolt@songphi.com</authorEmail>
	<authorUrl>http://songphi.com</authorUrl>
	<developerKey>f3cf04f4be78d22162470c28a80dbd93</developerKey>
    <build>10201</build>
    <copyright>(C) 2013 SongPhi LLC. All rights reserved.</copyright>
	<license>The BSD License</license>
    <licenseUrl>https://github.com/ycicom/video_cinematic/blob/master/LICENSE.txt</licenseUrl>
</plugin>