#CinemaOn{
    background: #000; 
    position: fixed; 
    top: 0px; 
    left: 0px; 
    bottom: 0px;
    right: 0px;
    z-index: 1000;
} 

#CinemaLogo {
    position: absolute;
    left:15px; display: none;
    height: 38px !important;
    width: 150px !important;
    margin-top: -10px;
    background: transparent url(../img/songphi.gif) no-repeat center left;
}

#CinemaLogo a {
    display:none;
}

#cinematic_close_btn {
    display: none; 
    margin-top: -18px; 
    margin-right: -18px; 
    /*float:right; */
    position: absolute;
    right:0;
    width: 36px;
    height: 36px;
    z-index: 9000;
    background: transparent url(../img/fancybox_sprite.png) no-repeat top left;
}

.shadow {
    -moz-box-shadow: 2px 2px 12px #000;
    -webkit-box-shadow: 2px 2px 12px #000;
    box-shadow: 2px 2px 12px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#000000');
}

.vc_toolbar_fix {
    padding-right: 5px;
}

.center_player {
    z-index: 1001;
    overflow: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 5px 5px 5px 5px;
    overflow: visible;
}