{$menu}
<style type="text/css">
#about p {
  margin: 10px;
}

#about h1 {
  color: #333;
}

#about ul {
  list-style: disc;
  margin-left: 20px;
}

</style>
<div id="about">  
  <h1>
  <a name="video_cinematic" class="anchor" href="#video_cinematic"><span class="octicon octicon-link"></span></a>About Video Cinematic</h1>
  
  <p>video_cinematic is an oxwall plugin. Video Cinematic Mode allow your oxwall 
  video player has ability to dimm the light around and center the video. If you love this plugin please buy me a beer (via paypal to thaolt@songphi.com). Don't hesitate to send me an email on how you want to improve this plugin or ideas of new features, etc.</p>
  <p id="donation">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="MXQLCQV8VLZXN">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </p>
  
  <h2>
  <a name="developing" class="anchor" href="#developing"><span class="octicon octicon-link"></span></a>Developing</h2>
  
  <pre><code>git clone https://github.com/ycicom/video_cinematic.git
  </code></pre>
  
  <h3>
  <a name="making-plugin-package-from-source" class="anchor" href="#making-plugin-package-from-source"><span class="octicon octicon-link"></span></a>Making plugin package from source</h3>
  
  <pre><code>cd /path/to/video_cinematic
  ./make-pkg.sh
  </code></pre>
  
  <h2>
  <a name="contributing" class="anchor" href="#contributing"><span class="octicon octicon-link"></span></a>Contributing</h2>
  
  <p>Any contributing is appreciated. I need help in translating into other languages.</p>
  
  <h2>
  <a name="credits" class="anchor" href="#credits"><span class="octicon octicon-link"></span></a>Credits</h2>
  
  <p>Libraries that included:</p>
  
  <ul>
  <li>Ganon  (<a target="_blank" href="https://code.google.com/p/ganon/">https://code.google.com/p/ganon/</a>) -- PHP HTML Parser &amp; Query tool</li>
  <li>jQuery MiniColors (<a target="_blank" href="https://github.com/claviska/jquery-miniColors/">https://github.com/claviska/jquery-miniColors/</a>) -- Color 
  picker </li>
  <li>jQuery Toggles (<a target="_blank" href="http://simontabor.com/labs/toggles/">http://simontabor.com/labs/toggles/</a>)</li>
  <li>Fancybox (<a target="_blank" href="http://fancyapps.com/fancybox/">http://fancyapps.com/fancybox/</a>)</li>
  </ul><p>Many thanks for authors of these libraries</p>
  
  <p>Licenses of them can be found in /docs/LICENSES/</p>
  
  <h2>
  <a name="changes-log" class="anchor" href="#changes-log"><span class="octicon octicon-link"></span></a>Changes Log</h2>
  
  <h3><a class="anchor"><span class="octicon octicon-link"></span></a>1.2.1</h3>  
  <ul>
    <li>added settings for admin to enable/disable overlay player on dashboard/profile/listing pages</li>
    <li>minify JS & CSS</li>
    <li>clean-up un-used files</li>
  </ul>

  <h3>
  <a class="anchor"><span class="octicon octicon-link"></span></a>1.2.0</h3>
  
  <ul>
    <li>added feature: watch video directly from video listing page (by opening a fancybox)</li>
    <li>improved user interface</li>
    <li>improved admin interface and more settings</li>
    <li>fixed some minor bugs</li>
  </ul>

  <h3>
  <a class="anchor"><span class="octicon octicon-link"></span></a>1.1.0</h3>
  
  <ul>
  <li>  option to switch between presets: lite(thin border, no close button, no logo
  mark) and full (thick border with close button and logo mark)</li>
  <li>  re-wrote plugin structure (organized static contents)</li>
  <li>  added setting allows admins to display logo on video cinematic layer</li>
  <li>  allow admins changing border color</li>
  </ul><h3>
  <a class="anchor"><span class="octicon octicon-link"></span></a>1.0.2</h3>
  
  <ul>
  <li>  added a close cinematic mode button as requested</li>
  </ul><h3>
  <a class="anchor"><span class="octicon octicon-link"></span></a>1.0.1</h3>
  
  <ul>
  <li>  correctly restore z-index css attribute of video div layer when closing
  cinematic mode</li>
  </ul><h3>
  <a class="anchor"><span class="octicon octicon-link"></span></a>1.0.0</h3>
  
  <ul>
  <li>  Initial version</li>
  </ul>
</div>