{$menu}

{form name='configSaveForm'}

<table class="ow_table_1 ow_form ow_stdmargin">
    <tr class="ow_tr_first">
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_monitor">{text key='video_cinematic+general_settings'}</span>
        </th>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">{text key='video_cinematic+preset_settings'}</td>
        <td class="ow_value">
            {input name='preset' class='ow_settings_input'} {error name='preset'}
        </td>
        <td class="ow_desc ow_small">{text key='video_cinematic+preset_settings_desc'}</td>
    </tr>
    <tr class="ow_tr_first">
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_monitor">{text key='video_cinematic+full_preset_options'}</span>
        </th>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">{text key='video_cinematic+config_boder_color'}</td>
        <td class="ow_value">
            {input name='borderColor' style='width: 70px'} {error name='borderColor'}
        </td>
        <td class="ow_desc ow_small">{text key='video_cinematic+borderColor_settings_desc'}</td>
    </tr>
    <tr class="ow_alt2">
        <td class="ow_label">{text key='video_cinematic+displayLogo_settings'}</td>
        <td class="ow_value">
            {input name='displayLogo' class='ow_settings_input'} {error name='displayLogo'}
        </td>
        <td class="ow_desc ow_small">{text key='video_cinematic+displayLogo_settings_desc'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">{text key='video_cinematic+logoFile_settings'}</td>
        <td class="ow_value">
            {input name='logoFile'} {error name='logoFile'}
            <br /><input type="checkbox" name="clearImage" id="chk_clearImage" /> <label for="chk_clearImage">{text key='video_cinematic+clear_current_image'}</label>
        </td>
        <td class="ow_desc ow_small">
        	{text key='video_cinematic+logoFile_settings_desc'}
        	{if isset($imgLogo)}
        	<img src="{$imgLogo}" />
        	{/if}
        </td>
    </tr>
</table>
<div class="clearfix ow_stdmargin"><div class="ow_right">{submit name='save' class='ow_ic_save ow_positive'}</div></div>



{/form}